/node_modules
nodejs/node_modules
angular/node_modules
nodejs/package-lock.json
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

laravel/vendor
laravel/bootstrap/cache
laravel/storage/logs
laravel/storage/framework
